* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MetodoP {
    background: #fff;
    font-family: 'Lato', sans-serif;

    align-items: center;
    /* Centrar verticalmente */
    height: 100vh;
    /* Agregar altura para ocupar toda la pantalla */
}

.MetodoP .contenedor {
    width: 100%;
    max-width: 1400px;
    height: 50rem;
    padding: 40px 20px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF3636;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.MetodoP .tarjeta {
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;
}

.MetodoP .tarjeta.active {
    transform: rotateY(180deg);
}

.MetodoP .tarjeta>div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.MetodoP .tarjeta .delantera {
    width: 100%;
    background: url(./fondoTarjeta.png);
    background-size: cover;
}

.MetodoP .delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

.MetodoP .delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.MetodoP .delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.MetodoP .delantera .grupo .label {
    font-size: 16px;
    color: #7d8994;
    margin-bottom: 5px;
}

.MetodoP .delantera .grupo .numero,
.MetodoP .delantera .grupo .nombre,
.MetodoP .delantera .grupo .expiracion {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.MetodoP .delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.MetodoP .trasera {
    background: url(./fondoTarjeta.png);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.MetodoP #logo img {
    width: 14vh;
    height: 14vh;
    margin-left: 8vh;
}

.MetodoP .trasera .barra-magnetica {
    height: 40px;
    background: #000;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.MetodoP .trasera .datos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.MetodoP .trasera .datos p {
    margin-bottom: 5px;
}

.MetodoP .trasera .datos #firma {
    width: 70%;
}

.MetodoP .trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.MetodoP .trasera .datos #firma .firma p {
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #000;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}

.MetodoP .trasera .datos #ccv {
    width: 20%;
}

.MetodoP .trasera .datos #ccv .ccv {
    background: #fff;
    height: 40px;
    color: #000;
    padding: 10px;
    text-align: center;
}

.MetodoP .trasera .leyenda {
    font-size: 14px;
    line-height: 24px;
}

.MetodoP .trasera .link-banco {
    font-size: 14px;
    color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.MetodoP .contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: #2364d2;
    color: #fff;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}

.MetodoP .contenedor-btn .btn-abrir-formulario:hover {
    background: #1850b1;
}

.MetodoP .contenedor-btn .btn-abrir-formulario.active {
    transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.MetodoP .formulario-tarjeta {
    background: #f0ecec;
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;
}

.MetodoP .formulario-tarjeta.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.MetodoP .formulario-tarjeta label {
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
}

.MetodoP .formulario-tarjeta input,
.MetodoP .formulario-tarjeta select,
.MetodoP .btn-enviar {
    border: 2px solid #CED6E0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}

.MetodoP .formulario-tarjeta input:hover,
.MetodoP .formulario-tarjeta select:hover {
    border: 2px solid #93BDED;
}

.MetodoP .formulario-tarjeta input:focus,
.MetodoP .formulario-tarjeta select:focus {
    outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.MetodoP .formulario-tarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.MetodoP .formulario-tarjeta .flexbox {
    display: flex;
    justify-content: space-between;
}

.MetodoP .formulario-tarjeta .expira {
    width: 100%;
}

.MetodoP .formulario-tarjeta .ccv {
    min-width: 100px;
}

.MetodoP .formulario-tarjeta .grupo-select {
    width: 100%;
    margin-right: 15px;
    position: relative;
}

.MetodoP .formulario-tarjeta select {
    -webkit-appearance: none;
}

.MetodoP .formulario-tarjeta .grupo-select i {
    position: absolute;
    color: #CED6E0;
    top: 18px;
    right: 15px;
    transition: .3s ease all;
}

.MetodoP .formulario-tarjeta .grupo-select:hover i {
    color: #93bfed;
}

.MetodoP .formulario-tarjeta .btn-enviar {
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background: #2364d2;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    cursor: pointer;
}

.MetodoP .formulario-tarjeta .btn-enviar:hover {
    background: #1850b1;
}