.elegirPago {
    font-family: 'Poppins', sans-serif;
}



/*Estilo para el logo*/
.elegirPago .logo img {
    width: 15vh;
    height: 15vh;
    margin-left: 8vh;
}


.elegirPago .main {
    top: 0;
    background: #FF3636;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    padding: 30px;
}

.elegirPago .metodos {
    margin: 0 auto;
    background: #FFFFFF;
    width: 1000px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.elegirPago button {
    border-color: rgb(255, 174, 174);
    background-color: white;
    transition: all 0.3s ease;
    padding: 10px;
    width: 400px;
    margin-left: 32%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.elegirPago .boton:hover {
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.elegirPago .main .titulo {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-left: 40%;
    padding: 10px;
    font-size: 200%;
    color: #FFFFFF;
    margin-bottom: 3%;
}

.elegirPago h2 {
    font-family: 'Poppins', sans-serif;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 1.5%;
}

.elegirPago body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;

    overflow: scroll;
    overflow-x: hidden;
}

.elegirPago .main .container {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    position: relative;

}

.elegirPago #logo img {
    margin-top: 10px;
    width: 14vh;
    height: 14vh;
    margin-left: 8vh;
}